---
import i18next from "@/i18n/config.js"

const lang = Astro.url.pathname.split("/")[1] || "es" // 'es' por defecto si no hay idioma en la URL
const translations = i18next.getResourceBundle(lang, "translation")
const bannerCookies = translations.bannerCookies
---

<div
	id="cookie-banner"
	class="fixed bottom-5 left-1/2 z-50 hidden w-11/12 max-w-lg -translate-x-1/2 transform rounded-lg bg-primaryBg p-4 text-center text-black shadow-lg"
>
	<p class="text-sm font-semibold">
		{bannerCookies.text}
	</p>
	<div class="mt-3 flex justify-center gap-4">
		<button
			id="accept-cookies"
			class="rounded-lg bg-primary px-4 py-2 text-sm font-bold text-white transition hover:bg-secondary"
		>
			{bannerCookies.accept}
		</button>
		<button
			id="reject-cookies"
			class="rounded-lg border-2 border-primary px-4 py-2 text-sm font-bold text-primary transition hover:bg-primary hover:text-white"
		>
			{bannerCookies.reject}
		</button>
		<a
			class="rounded-lg px-4 py-2 text-sm font-bold text-primary hover:text-secondary"
			href={`/${lang}/Legal?section=cookies`}
		>
			{bannerCookies.moreInfo}
		</a>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const banner = document.getElementById("cookie-banner")
		const acceptButton = document.getElementById("accept-cookies")
		const rejectButton = document.getElementById("reject-cookies")

		// Mostrar el banner solo si las cookies no han sido aceptadas ni rechazadas
		if (
			banner &&
			!localStorage.getItem("cookiesAccepted") &&
			!localStorage.getItem("cookiesRejected")
		) {
			banner.classList.remove("hidden")
		}

		function updateStorageAndNotify(key: string, value: string) {
			localStorage.setItem(key, value)
			window.dispatchEvent(new Event("storage"))
			if (banner) {
				banner.classList.add("hidden")
			}
		}

		if (acceptButton) {
			acceptButton.addEventListener("click", function () {
				updateStorageAndNotify("cookiesAccepted", "true")
				localStorage.setItem("googleCookies", "true")
				localStorage.setItem("analyticsCookies", "true")
				location.reload()
			})
		}

		if (rejectButton) {
			rejectButton.addEventListener("click", function () {
				updateStorageAndNotify("cookiesRejected", "true")
			})
		}
	})
</script>
