---
import i18next from "../i18n/config.js"
import SectionContainer from "./SectionContainer.astro"

const lang = Astro.url.pathname.split("/")[1] || "es" // 'es' por defecto si no hay idioma en la URL
const translations = i18next.getResourceBundle(lang, "translation")

const pasos = [
	{
		titulo: "Busca habitaciones",
		imagen: "/Home/findRoom.jpg",
		link: `/${lang}/Rooms`,
	},
	{
		titulo: "Contacta con el propietario",
		imagen: "/Home/bookRoom.jpg",
	},
	{
		titulo: "Reserva fácil y segura",
		imagen: "/Home/bookSafe.jpg",
	},
	{
		titulo: "¡Instálate!",
		imagen: "/Home/installRoom.jpg",
	},
]
---

<SectionContainer class="mt-5 px-4">
	<section>
		<div class="mx-auto max-w-6xl text-center">
			<h1
				class="text-balance text-4xl font-black tracking-tight text-primary sm:text-5xl md:text-6xl lg:text-5xl"
			>
				¿Cómo funciona?
			</h1>
		</div>

		<div
			class="mx-auto mt-12 grid max-w-6xl grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
		>
			{
				pasos.map((paso) => (
					<div class="flex flex-col items-center">
						<div class="flex h-52 w-52 items-center justify-center overflow-hidden rounded-full border-4 border-primary bg-white shadow-xl">
							<a href={paso.link}>
								<img
									src={paso.imagen}
									alt={paso.titulo}
									class="h-full w-full rounded-full object-cover"
								/>
							</a>
						</div>
						<h3 class="mt-4 w-52 text-center text-lg font-semibold text-gray-800">{paso.titulo}</h3>
					</div>
				))
			}
		</div>
	</section>
</SectionContainer>
