---
import SectionContainer from "@components/SectionContainer.astro"
import i18next from "../i18n/config.js"
import Cookies from "./Cookies.astro"
import LegalNotice from "./LegalNotice.astro"
import Privacy from "./Privacy.astro"

interface LegalOption {
	label: string
	id: string
}

interface Legal {
	title: string
	optionsbuttons: LegalOption[]
}

const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const legal: Legal = translations.Legal
---

<style>
	.mobile-MenuOpen {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: var(--headerBg, white);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
		text-align: center;
		z-index: 50; /* Asegura que esté sobre el contenido */
	}

	.relative-container {
		position: relative;
	}

	.hidden {
		display: none;
	}

	img {
		width: 15rem; /* Tamaño del logo */
	}

	@media (min-width: 768px) {
		.desktop-menu {
			display: flex;
		}

		.mobile-MenuOpen {
			display: none;
		}
	}

	@media (min-width: 768px) {
		.desktop-menu {
			display: flex;
			width: 100%;
			flex-wrap: nowrap;
		}

		.desktop-menu button {
			text-align: center;
		}
	}
</style>

<head>
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>

<SectionContainer class="bg-light-gray px-4">
	<div
		class="bolck z-49 sticky top-0 items-center justify-between py-4 backdrop-blur-xl"
		x-data="{ activeSection: 'aviso-legal' }"
	>
		<header class="flex w-full items-center justify-between md:mx-auto md:max-w-[1400px]">
			<div class="desktop-menu hidden gap-4 md:flex">
				{
					legal.optionsbuttons.map(({ label, id }) => (
						<button
							x-on:click={`activeSection = '${id}'`}
							class="cursor-pointer rounded-lg bg-primary px-4 py-2 text-lg font-semibold text-white shadow-md transition hover:bg-opacity-80"
						>
							{label}
						</button>
					))
				}
			</div>

			<div class="relative-container w-full">
				<button
					id="menu-MenuOpen"
					class="flex w-full items-center justify-between rounded-lg bg-primary px-5 py-3 text-white md:hidden"
				>
					<h1 class="text-lg font-semibold">{legal.title}</h1>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						class="h-6 w-6"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16m-7 6h7"></path>
					</svg>
				</button>

				<div id="mobile-MenuOpen" class="mobile-MenuOpen hidden">
					{
						legal.optionsbuttons.map(({ label, id }) => (
							<a
								x-on:click={`activeSection = '${id}'; document.getElementById('mobile-MenuOpen').classList.add('hidden')`}
								class="py-2 text-lg font-semibold text-primary hover:contrast-150"
							>
								{label}
							</a>
						))
					}
				</div>
			</div>
		</header>

		<!-- Contenido Dinámico con Alpine.js -->
		<div>
			<div x-show="activeSection === 'aviso-legal'">
				<LegalNotice />
			</div>
			<div x-show="activeSection === 'privacidad'">
				<Privacy />
			</div>
			<div x-show="activeSection === 'cookies'">
				<Cookies />
			</div>
		</div>
	</div>
</SectionContainer>

<script>
	const menuButton = document.getElementById("menu-MenuOpen")
	const mobileMenu = document.getElementById("mobile-MenuOpen")

	if (menuButton && mobileMenu) {
		// Toggle menu on button click
		menuButton.addEventListener("click", (event) => {
			mobileMenu.classList.toggle("hidden")
			event.stopPropagation()
		})

		// Close menu if clicked outside
		document.addEventListener("click", (event) => {
			if (
				!mobileMenu.classList.contains("hidden") &&
				!mobileMenu.contains(event.target) &&
				!menuButton.contains(event.target)
			) {
				mobileMenu.classList.add("hidden")
			}
		})
	}
</script>
