---
import FlatsCard from "@/components/FlatsCard.astro"
import { supabase } from "@/lib/supabase"

import i18next from "@/i18n/config.js"

// Obtener flats desde Supabase
const { data: flats, error } = await supabase.from("flats").select("*").eq("available", true)

if (error) {
	console.error("Error al obtener flats desde Supabase:", error)
}

const lang = Astro.params.lang || "es" // Obtener el idioma de la URL
const translations = i18next.getResourceBundle(lang, "translation")
const ourFlats = translations.ourFlats
---

<section class="mx-auto w-full lg:max-w-7xl">
	<article
		class="flex flex-col gap-6 p-4 pb-6 text-primary md:relative md:mx-4 md:items-center md:rounded-2xl"
	>
		<h1
			class="text-balance text-4xl font-black tracking-tight text-primary sm:text-5xl md:text-6xl lg:text-5xl"
		>
			{ourFlats.title}
		</h1>
		<a
			href={`/${lang}/Flats`}
			class="no-scrollbar -mx-4 flex max-w-[1536px] snap-x snap-mandatory items-center gap-7 overflow-x-auto px-4 pb-6 md:grid md:grid-cols-2 md:justify-items-center md:overflow-visible lg:z-10 lg:m-0 lg:grid-cols-3 lg:p-0 xl:grid-cols-3"
		>
			{
				(flats || []).map(({ mapImage, street, flat_id }) => (
					<FlatsCard mapImage={mapImage} title={street} id={flat_id} />
				))
			}
		</a>
	</article>
</section>
