---
import SectionContainer from "./SectionContainer.astro";

const TEAM_MEMBERS = [
    {
        name: "Alex",
        role: "AAAAAAAAAAAAAAAAAAA",
        description: "Con una amplia experiencia en el sector inmobiliario, Juan se encarga de dirigir el equipo y garantizar que cada cliente reciba la mejor atención posible.",
        image: "/team-member-1.jpg", // Asegúrate de poner la imagen correcta
    },
    {
        name: "David",
        role: "AAAAAAAAAAAAAAAAAAA",
        description: "Se encarga de ofrecer un servicio al cliente excepcional, asegurándose de que cada persona tenga una experiencia inolvidable con RentRoomBCN.",
        image: "/team-member-2.jpg", // Asegúrate de poner la imagen correcta
    }
    // TODO
];
---

<SectionContainer class="px-4 bg-light-gray">
    <div class="grid grid-cols-1 place-items-center text-center mb-8">
        <h1 class="font-black text-balance tracking-tight text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-primary">
            Nuestro equipo
        </h1>
        <h2 class="mt-6 text-balance text-texth2 text-lg sm:text-xl md:text-2xl lg:text-3xl">
            En RentRoomBCN, nuestro equipo está formado por personas apasionadas por lo que hacen. Creemos que el éxito de nuestra empresa se basa en la dedicación, el compromiso y la experiencia de cada miembro. Estamos aquí para ayudarte a encontrar el espacio ideal, brindándote un servicio cercano, personalizado y siempre dispuesto a superar tus expectativas.
        </h2>
    </div>

    <!-- Contenedor de las tarjetas de empleados centradas -->
    <div class="flex justify-center items-center flex-wrap gap-8">
        {TEAM_MEMBERS.map((member) => (
            <div class={`rounded-lg overflow-hidden shadow-lg w-80`}>
                <img src={member.image} alt={member.name} class="w-full h-64 object-cover"/>
                <div class="p-5 text-center">
                    <h3 class="text-xl font-semibold text-primary">{member.name}</h3>
                    <p class="text-sm text-texth2">{member.role}</p>
                    <p class="mt-3 text-base text-texth2">{member.description}</p>
                </div>
            </div>
        ))}
    </div>
    
</SectionContainer>
