---
import RoomsCard from "@/components/RoomsCard.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import i18next from "@/i18n/config.js"
import { supabase } from "@/db/supabase"

// Función para obtener datos
const fetchData = async () => {
	try {
		// Obtener habitaciones disponibles
		const { data: rooms, error: roomsError } = await supabase
			.from("rooms")
			.select("*")
			.eq("available", true)
			.order("id", { ascending: true })

		// Obtener todos los flats
		const { data: flats, error: flatsError } = await supabase
			.from("flats")
			.select("*")
			.eq("available", true)
			.order("flat_id", { ascending: true })

		if (roomsError) throw new Error(`Error fetching rooms: ${roomsError.message}`)
		if (flatsError) throw new Error(`Error fetching flats: ${flatsError.message}`)

		return { rooms, flats }
	} catch (error) {
		console.error("Error in fetchData:", error)
		// Puedes mostrar un mensaje de error en la UI si lo prefieres
		return { rooms: [], flats: [] }
	}
}

const { rooms: ROOMS, flats: FLATS } = await fetchData()
// Filtrar habitaciones disponibles
const availableRooms = ROOMS.filter((room) => room.available)

// Obtener el idioma actual
const lang = Astro.url.pathname.split("/")[1] || "es" // 'es' por defecto si no hay idioma en la URL
const translations = i18next.getResourceBundle(lang, "translation")
const plpRoom = translations.plpRoom

// Mapeo de flats
const flatMap = FLATS.reduce((acc, flat) => {
	acc[flat.flat_id] = flat.title
	return acc
}, {})

// Relacionar el título del flat en el filtro
const uniqueFlats = [...new Set(availableRooms.map((room) => room.roomFlat))]
---

<head>
	<script is:inline src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>
<SectionContainer class="px-0">
	<div class="mx-auto max-w-7xl px-4 pt-6">
		<h2
			class="xs:text-2xl text-balance pb-6 text-center text-4xl font-black tracking-tight text-primary sm:text-5xl md:text-6xl lg:text-5xl"
		>
			{plpRoom.title}
		</h2>

		<div
			x-data="{ 
			selectedFlats: new URLSearchParams(window.location.search).get('selectedFlat') 
				? [new URLSearchParams(window.location.search).get('selectedFlat')] 
				: [] 
		}"
			class="flex flex-col justify-between gap-6"
		>
			<div class="flatSelector w-full text-center">
				<label class="text-lg font-semibold" style="text-decoration-line: underline;">
					{plpRoom.filtrar}
				</label>
				<div class="mt-4 flex flex-row flex-wrap justify-center gap-4">
					{
						uniqueFlats.map((flatId) => {
							const flatTitle = flatMap[flatId]
							return (
								<div class="flex items-center">
									<input
										type="checkbox"
										id={flatId}
										value={flatId}
										x-model="selectedFlats"
										class="cursor-pointer rounded-lg bg-primary px-4 py-2 text-lg font-semibold text-white shadow-md transition hover:bg-opacity-80"
									/>
									<label for={flatId} class="ml-2 text-lg font-semibold">
										{flatTitle}
									</label>
								</div>
							)
						})
					}
				</div>
			</div>

			<div class="w-full flex-1">
				<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
					{
						availableRooms.map((room) => (
							<div
								class={`room-card ${room.status === "soon" ? "cursor-not-allowed opacity-50" : ""} flex h-full flex-col`}
								x-show={`selectedFlats.length === 0 || selectedFlats.includes('${room.roomFlat}')`}
							>
								<RoomsCard
									name={room.name}
									description={
										room.status === "soon" ? plpRoom.soon : plpRoom.RoomCard[room.roomFlat]
									}
									imageSrc={room.status === "soon" ? "/Flats/soon-available.jpeg" : room.imageSrc}
									imageAlt={room.imageAlt}
									href={room.status === "soon" ? null : `/${lang}/${room.slug}`}
									class={room.status === "soon" ? "pointer-events-none" : ""}
								/>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</SectionContainer>
