---
import RoomCharacteristics from "@/components/RoomCharacteristics.astro"
import i18next from "@/i18n/config.js"

// Obtener el idioma actual y los textos traducidos
const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const pdpRoom = translations.pdpRoom

// Extraer el identificador de la habitaci贸n desde la URL
const flatId = Astro.url.pathname.split("/")[2]?.split("-")[0] || "defaultId"

// Obtener los datos de la habitaci贸n
const { roomData } = Astro.props
---

<div class="mx-auto mt-8 max-w-lg space-y-6 rounded-lg bg-white p-6 shadow-lg">
	<!-- Descripci贸n de la habitaci贸n -->
	<div class="space-y-4">
		<p class="text-sm text-gray-600">
			<strong>{pdpRoom[flatId]?.RoomDetails.roomTitle}</strong><br />
			{pdpRoom[flatId]?.RoomDetails.roomDescription}<br /><br />

			<strong>{pdpRoom[flatId]?.RoomDetails.RoomDetailsTitle}</strong><br />
			{
				pdpRoom[flatId]?.RoomDetails.roomDetails.map((detail: string) => (
					<>
						<span>- {detail}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{pdpRoom[flatId]?.RoomDetails.roomConditionsTitle}</strong><br />
			{
				pdpRoom[flatId]?.RoomDetails.roomConditions.map((condition: string) => (
					<>
						<span>- {condition}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{pdpRoom[flatId]?.RoomDetails.roomAtmosphereTitle}</strong><br />
			{
				pdpRoom[flatId]?.RoomDetails.roomAtmosphere.map((atmosphere: string) => (
					<>
						<span>- {atmosphere}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{pdpRoom[flatId]?.RoomDetails.contactInfo}</strong><br />
			{pdpRoom[flatId]?.RoomDetails.contactInfoDescription}
		</p>
	</div>
</div>

<div class="mx-auto mt-8 max-w-lg space-y-6 rounded-lg bg-white p-6 shadow-lg">
	<RoomCharacteristics />

	<div class="flex items-center space-x-2">
		<span class={`text-sm font-semibold ${roomData.available ? "text-green-500" : "text-red-500"}`}>
			{
				roomData.available
					? pdpRoom[flatId]?.RoomDetails.availableText
					: pdpRoom[flatId]?.RoomDetails.unavailableText
			}
		</span>
		<span class={`w-2.5 h-2.5 rounded-full ${roomData.available ? "bg-green-500" : "bg-red-500"}`}
		></span>
	</div>
</div>
