---
import i18next from "../i18n/config.js"
import RoomCharacteristics from "./RoomCharacteristics.astro"

// Obtener el idioma actual y los textos traducidos
const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const roomDetails = translations.RoomDetails

// Obtener los datos de la habitación
const { roomData } = Astro.props
---

<div class="mx-auto mt-8 max-w-lg space-y-6 rounded-lg bg-white p-6 shadow-lg">
	<!-- Descripción de la habitación -->
	<div class="space-y-4">
		<p class="text-sm text-gray-600">
			<strong>{roomDetails.roomTitle}</strong><br />
			{roomDetails.roomDescription}<br /><br />

			<strong>{roomDetails.roomDetailsTitle}</strong><br />
			{
				roomDetails.roomDetails.map((detail: string) => (
					<>
						<span>- {detail}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{roomDetails.roomConditionsTitle}</strong><br />
			{
				roomDetails.roomConditions.map((condition: string) => (
					<>
						<span>- {condition}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{roomDetails.roomAtmosphereTitle}</strong><br />
			{
				roomDetails.roomAtmosphere.map((atmosphere: string) => (
					<>
						<span>- {atmosphere}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{roomDetails.contactInfo}</strong><br />
			{roomDetails.contactInfoDescription}
		</p>
	</div>
</div>

<div class="mx-auto mt-8 max-w-lg space-y-6 rounded-lg bg-white p-6 shadow-lg">
	<RoomCharacteristics />

	<div class="flex items-center space-x-2">
		<span class={`text-sm font-semibold ${roomData.available ? "text-green-500" : "text-red-500"}`}>
			{roomData.available ? roomDetails.availableText : roomDetails.unavailableText}
		</span>
		<span class={`w-2.5 h-2.5 rounded-full ${roomData.available ? "bg-green-500" : "bg-red-500"}`}
		></span>
	</div>
</div>
