---
interface RoomProps {
	name: string
	description: string
	imageSrc: string
	imageAlt: string
	href: string // Será `/habitaciones/{slug}`
}

const { name, description, imageSrc, imageAlt, href } = Astro.props as RoomProps
---

<a
	href={href}
	class="room-card group block overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm"
>
	<div class="aspect-w-4 aspect-h-3">
		<img src={imageSrc} alt={imageAlt} class="h-full w-full object-cover group-hover:opacity-90" />
	</div>
	<div class="p-4">
		<h2 class="text-lg font-medium text-gray-900">{name}</h2>
		<p class="mt-2 text-sm text-gray-500">{description}</p>
	</div>
</a>
