---
import i18next from "@/i18n/config.js"

// Obtener el idioma actual y los textos traducidos
const lang = Astro.url.pathname.split("/")[1] || "es"
const translations = i18next.getResourceBundle(lang, "translation")
const roomCharacteristics = translations.roomCharacteristics
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
	<!-- Características de la vivienda -->
	<div>
		<p class="text-sm text-gray-600">
			<strong>{roomCharacteristics.houseFeaturesTitle}</strong><br />
			{
				roomCharacteristics.houseFeatures.map((feature: string) => (
					<>
						<span>- {feature}</span>
						<br />
					</>
				))
			}
		</p>
	</div>

	<!-- Características de la habitación y otros detalles -->
	<div>
		<p class="text-sm text-gray-600">
			<strong>{roomCharacteristics.roomFeaturesTitle}</strong><br />
			{
				roomCharacteristics.roomFeatures.map((feature: string) => (
					<>
						<span>- {feature}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{roomCharacteristics.roommatesTitle}</strong><br />
			{
				roomCharacteristics.roommates.map((info: string) => (
					<>
						<span>- {info}</span>
						<br />
					</>
				))
			}

			<br />
			<strong>{roomCharacteristics.houseAtmosphereTitle}</strong><br />
			{
				roomCharacteristics.houseAtmosphere.map((atmosphere: string) => (
					<>
						<span>- {atmosphere}</span>
						<br />
					</>
				))
			}
		</p>
	</div>
</div>
